<header class="py-5 bg-gradient-to-r from-[#950b0b] to-[#440606] text-white">
  <div class="container px-12">
    <div class="flex justify-between items-center">
      <a routerLink="/">
        <h2 class="text-3xl font-bold">Market</h2>
      </a>
      <ul class="flex space-x-12">
        <li>
          <a class="text-2xl" routerLink="/products">Products</a>
        </li>
        <li>
          <a class="text-2xl" routerLink="/cart">Cart</a>
        </li>
      </ul>
    </div>
  </div>
</header>
